@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    #ea5d25 0%,
    #ea5d25 var(--slider-value, 0%),
    #ffcc99 var(--slider-value, 0%),
    #ffcc99 100%
  );
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ea5d25; /* Thumb color */
  cursor: pointer;
  border-radius: 50%;
  margin-top: -6px; /* Center the thumb */
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    #ea5d25 0%,
    #ea5d25 var(--slider-value, 0%),
    #ffcc99 var(--slider-value, 0%),
    #ffcc99 100%
  );
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ea5d25; /* Thumb color */
  cursor: pointer;
  border-radius: 50%;
}
